/**
* Website Name: Waitless
* Author: Shofol
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Montserrat", sans-serif;
  color: #444444;
  overflow-x: hidden;
}

a {
  color: #3498db;
}

a:hover {
  color: #5faee3;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
ul {
  list-style-type: none;
  padding-left: 0;
}

/*--------------------------------------------------------------
# Utilites
--------------------------------------------------------------*/

.small-Text {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #ff9363;
}

.bg-orange {
  background: #ffa85b;
}

.bg-pink {
  background: #ff4a7f;
}

.bg-purple {
  background: #7268e3;
}

.display-none {
  display: none !important;
}

.cursor-pointer {
  cursor: pointer;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #7268e3;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #7268e3;
  color: #fff;
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f7fbfe;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  color: #222222;
}

.section-title h2::before,
.section-title h2::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #3498db;
  display: inline-block;
}

.section-title h2::before {
  margin: 0 15px 10px 0;
}

.section-title h2::after {
  margin: 0 0 10px 15px;
}

.section-title p {
  margin: 15px 0 0 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 80px;
  z-index: 997;
  transition: all 0.5s;
}

#header.header-scrolled {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  height: 60px;
  background: #fff;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

@media (min-width: 768px) {
  .navPhone {
    padding-right: 6rem;
  }
}

@media (max-width: 768px) {
  #header {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    height: 60px;
    background: #fff;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  /* margin-top: 70px; */
  background: url("/assets/img/art.svg") no-repeat;
  background-position: right 70px;
  background-size: contain;
  background-attachment: scroll !important;
  min-height: 100vh;
  position: relative;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 39px;
  letter-spacing: -1px;
  color: #3b385f;
}

#hero h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 118%;
  letter-spacing: -0.3125px;
  color: #7f759a;
  margin-bottom: 20px;
}

#hero ul li {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.3125px;
  padding-bottom: 14px;
  color: #7f759a;
}

#hero .btn-get-started {
  background: linear-gradient(189.84deg, #ffa85b 0%, #ff4182 100%);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 317px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  height: 55px;
  outline: none;
  border: none;
  transition: box-shadow, transform 0.1s;
  margin-top: 29px;
}

#hero .btn-get-started:hover {
  box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
}

.andMore {
  padding-left: 25px;
}

@media (min-width: 768px) {
  .mobileArt {
    padding-right: 6rem;
  }
}

@media (max-width: 768px) {
  #hero {
    margin-top: 20px;
    background-size: auto;
    background-position: right bottom;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# Alert Bar
--------------------------------------------------------------*/

.alertBar {
  background: #fffbf2;
  border-top: 0.5px solid rgba(246, 193, 73, 0.5);
  border-bottom: 0.5px solid rgba(246, 193, 73, 0.5);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: display 0.25s;
}

.cross {
  position: absolute;
  right: 30px;
}

@media screen and (max-width: 768px) {
  .cross {
    right: 10px;
    top: 10px;
  }
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/

.features {
  background: #f7f8fc;
  text-align: center;
  padding-bottom: 150px;
}

.features h2 {
  font-weight: 600;
  font-size: 26px;
  line-height: 46px;
  letter-spacing: -1px;
  color: #24355a;
  margin-bottom: 90px;
}

.features h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -1px;
  color: #24355a;
  margin-bottom: 16px;
}

.features p {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.3125px;
  color: #9195a4;
}

.offerIcon {
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .features {
    padding-bottom: 50px;
  }
}

/*--------------------------------------------------------------
# How It Works
--------------------------------------------------------------*/

.howItWorks h4 {
  font-weight: 500;
  font-size: 30px;
  /* line-height: 38px; */
  letter-spacing: -1px;
  color: #24355a;
  margin-bottom: 0;
}

.howItWorks h5 {
  font-weight: 500;
  font-size: 23px;
  letter-spacing: -1px;
  color: #979797;
}

@media (max-width: 768px) {
  .howItWorks h4 {
    font-size: 27px;
  }

  .howItWorks h5 {
    font-size: 20px;
  }
}

.howItWorks h6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
  color: #24355a;
}

.title {
  margin: 20px 0 100px 0;
}

.steps {
  margin-bottom: 54px;
}

.step {
  margin-bottom: 70px;
}

.stepIcon {
  width: 67px;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #dadada;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 29px;
  line-height: 21px;
  color: #ffffff;
  margin-right: 23px;
}

.alertStep {
  background: #da9e9e;
}

.description {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #9195a4;
  mix-blend-mode: normal;
}

.actionButton {
  background: #7b6ff2;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  height: 67px;
  transition: box-shadow, transform 0.1s;
}

.actionButton:hover {
  color: #ffffff;
  transform: scale(1.01);
  box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.3);
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #f7f8fc;
  padding: 50px 0;
  color: #222222;
  font-size: 14px;
}

#footer .copyright {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.318182px;
  color: #9dafbd;
}

/*--------------------------------------------------------------
# Badge
--------------------------------------------------------------*/

.badge {
  padding: 50px 60px;
  background: #fff;
  width: 1190px;
  height: 842px;
}

.badge .companyLogo {
  margin-right: 240px;
  width: 250px;
  height: 250px;
}
.badge .companyLogo img {
  object-fit: contain;
  object-position: 0 0;
}

.badge .headline {
  text-align: left;
  font-weight: bold;
  font-size: 40px;
  color: #000;
}

.badge .headline .mainTitle {
  color: #e01616;
}

.badge .curveArrow {
  align-self: flex-end;
  padding-right: 128px;
  padding-top: 30px;
}

.badge .process {
  font-weight: normal;
  font-size: 52px;
  color: #000000;
  text-align: left;
}

.badge .phoneNo {
  font-size: 153px;
  text-align: left;
  color: #503e9d;
}

.badge .bottom {
  padding-top: 15px;
}

.badge .qrCode {
  font-weight: normal;
  font-size: 29px;
  color: #000000;
}

.badge .qrCodeImageBox {
  width: 149px;
  height: 149px;
}

.badge .qrCodeImageBox img {
  object-fit: contain;
  object-position: 0 0;
}

.badge .poweredBy {
  align-self: flex-end;
  font-size: 20px;
  color: #000000;
}

/*--------------------------------------------------------------
# Badge Small
--------------------------------------------------------------*/
.badgeSmall {
  padding: 58px 68px;
  width: 1040px;
  height: 735px;
}

.badgeSmall .companyLogo {
  margin-right: 126px;
  width: 250px;
  height: 250px;
}
.badgeSmall .companyLogo img {
  object-fit: contain;
  object-position: 0 0;
}

.badgeSmall .headline {
  text-align: left;
  font-weight: bold;
  font-size: 38px;
  color: #000;
}

.badgeSmall .headline .mainTitle {
  color: #e01616;
}

.badgeSmall .curveArrow {
  align-self: flex-end;
  padding-right: 100px;
}

.badgeSmall .process {
  font-weight: normal;
  font-size: 45px;
  color: #000000;
  text-align: left;
}

.badgeSmall .phoneNo {
  font-size: 130px;
  line-height: 1;
  text-align: left;
  color: #503e9d;
  font-weight: bold;
}

.badgeSmall .bottom {
  padding-top: 15px;
}

.badgeSmall .poweredBy {
  padding-top: 59px;
}

.badgeSmall .powered {
  font-weight: normal;
  font-size: 20px;
  text-align: right;
  color: #000000;
}
